<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Сайт</title>
</head>
<body>
 <li><a  href="{% url 'index'  %}">ГЛАВНАЯ</a></li>
 <li><a  href="{% url 'order'  %}"> УСЛУГИ</a></li>
 <li><a  href="{% url 'history'  %}"> О НАС </a></li>
 <li><a  href="{% url 'connect'  %}">КОНТАКТЫ</a></li>
 {% if user.is_authenticated %}
 <li><a  href="{% url 'logout'  %}">ВЫХОД</a></li>
{%else%}
 <li><a  href="{% url 'login'  %}">ВХОД</a></li>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>